<?xml version="1.0" encoding="UTF-8"?>
<suite name="Simple HTML-XML Suite">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
<!--        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>-->
    </listeners>
    <test name="Simple HTML-XML test">
        <packages>
            <package name="testCaseUserCenter.userService" />
        </packages>
<!--        <classes>-->
<!--            <class name="testCaseUserCenter.userService.QueryByUserIdTest" />-->
<!--        </classes>-->
    </test>
</suite>